export NODE_KEY="{"priv_key":{"type":"tendermint/PrivKeyEd25519","value":"QT+xu7IE+8MnG7AkpsCgp/zMXhpjR9qbAT8XEGxkwKcnT9BFBpoTW1ltDsqiKisqsEIw2UV+InebW2jvqtgtVw=="}}"
export VALIDATOR_MODE="false"
export VALIDATOR_KEY="{"address":"92FD676DCDE1F87A94FD562878D3BC4AD8FAFAA2","pub_key":{"type":"tendermint/PubKeyEd25519","value":"m7DbGLFs+ftpaozxJwJ/g4YrjZfB48/XwWUCSPxwoec="},"priv_key":{"type":"tendermint/PrivKeyEd25519","value":"BvccbfRvBBQm9PIu4BKK8TZSC8Uaai5wfdRrPAokTo+bsNsYsWz5+2lqjPEnAn+DhiuNl8Hjz9fBZQJI/HCh5w=="}}"
