[Unit]
Description=Noah Validator
After=network.target auditd.service

[Service]
ExecStart=/home/user/noah
Type=simple
KillMode=process
Restart=always
RestartSec=3
User=user

[Install]
WantedBy=multi-user.target
Alias=noah.service
